body {
    background: url("../img/login-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
}

/* 导航栏 */
.navbar.navbar-default.navbar-fixed-top {
    height: 6%;
}

.navbar-header {
    height: 100%;
    padding-right: 8%;
}

.navbar-brand {
    padding: 1%;
    height: 100%;
}

.navbar-brand img {
    height: 100%;
}

.navbar-collapse {
    background-color: #f8f8f8;
}

.navbar-nav>li>a {
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
    padding-left: 20px;
    padding-right: 20px;
}

/* 大盒子 */
.main {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 3px 3px #666;
}

/* 题型导航栏 */
.nav-type {
    margin-bottom: 10px;
    border-bottom: solid;
}

/* 题目内容 */
.question-title {
    font-size: large;
    ;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

/* 每个类型的题目 */
.question-wrap {
    /* margin: 0 40px 20px; */
    padding: 20px;
    font-weight: 600;
    transition: all 0.25s ease-in;
}

/* 题目标题 */
.question-type {
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Microsoft YaHei';
    border-bottom: 1px dotted #ccc;
    transition: all 0.25s ease-in;
}

.question-type span {
    font-size: 15px;
    color: #aaa;
}

/* 题目内容 */
.question-name {
    margin-top: 15px;
    line-height: 25px;
}

/* 选项 */
.question-option {
    margin: 5px 0;
}

.question-each label {
    padding: 6px 10px;
    display: block;
    cursor: pointer;
}

.question-each label:hover {
    background-color: #e5f2ff;
}

/* 单选框 */
.question-option input[type=radio] {
    margin-right: 5px;
    cursor: pointer;
}

/* 多选框 */
.question-option input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
}

/* 输入框(框+文字) */
.question-option input[type=text] {
    border: 1px solid #bbb;
    padding: 3px;
}

.question-option span {
    padding: 5px 0;
    display: block;
}

/* 按钮 */
.question-act {
    text-align: center;
    margin-bottom: 50px;
}

.question-act input {
    padding: 10px 55px;
    font-size: 16px;
    font-weight: bolder;
    color: #4f6b72;
    border: 1px solid #aad3fa;
    border-radius: 8px;
    background: #eef6fa;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.question-act input:hover {
    color: #5f7b82;
    background: #fff;
}

/* 添加按钮 */
.add_btn {
    padding: 0px 2%;
    font-size: 18px;
    width: 14.5%;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.91);
    background-color: rgb(13, 152, 221);
}
