/* 顶部导航栏 */
html, body {
    height: 100%;
}
body {
    background: url("../img/login-bg.png");
    background-repeat:no-repeat; 
    background-attachment:fixed;
    background-size: 100%, 100%;
}

.navbar.navbar-default.navbar-fixed-top {
    height: 6%;
    /* background-color: beige; */
}

.navbar-header {
    height: 100%;
    padding-right: 8%;
}

.navbar-brand {
    padding: 1%;
    height: 100%;
}

.navbar-brand img {
    height: 100%;
}

/* 导航栏颜色 */
.navbar-collapse {
    background-color: #f8f8f8;
}

.navbar-nav>li>a {
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
    padding-left: 20px;
    padding-right: 20px;}

.navbar-nav>li:hover {
    background-color: #f0eeee;
}

.main {
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 6%;
    height: 100%;
}
.main_info {
    border-right: 7px groove; 
    border-top: 7px groove;
    background: transprant;
    border-left: 7px groove;
    border-bottom: 7px groove;
}