<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>    <title>在线模拟考试系统</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="height: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-md-2 col-md-offset-1" style="height: 100%;">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="height: 100%;">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="icon" style="height: 100%;">
                            <a class="navbar-brand" href="./">
                                <img src="../img/icon1.png" alt="瞎考">
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">主页</a></li>
                            <?php if($role == "teacher" || $role == "manager")
                                echo '<li><a href="../make_exam.php">发布试题</a></li>';?>
                            <li><a href="../personal_page.php">个人信息</a></li>
                        </ul>
                        <form action="../index.php" method="get">
                            <button type="submit" name="sign_out" value="sign_out"
                                class="btn btn-default navbar-btn navbar-right">Sign Out</button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="main container">
        <div class="row">
            <div class=" left-div col-md-3 col-sm-4 col-xs-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>

            <div class="border-10 rounded-lg border-primary right-div 
                col-md-9  col-sm-7 col-xs-6 ">
                <div class="row">
                    <?php foreach($data as $k=>$v): ?>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="../img/login-bg.png" alt="试卷">
                            <div class="caption">
                                <div class="question-title">
                                    <h3><?=$v["exam_name"]?></h3>
                                </div>
                                <ul>
                                    <li><?=$v["exam_time"]?></li>
                                    <li>试卷出题人: <?=$v["teacher_name"]?></li>
                                </ul>
                                <a href="../test.php?exam_id=<?=$v["exam_id"]?>" class="btn btn-primary" role="button">进入考试</a>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>

        </div>

    </div>

</body>

</html>