<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>考试</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.timeout.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/test.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/personal_page.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="height: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-md-2 col-md-offset-1" style="height: 100%;">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="height: 100%;">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="icon" style="height: 100%;">
                            <a class="navbar-brand" href="./">
                                <img src="../img/icon1.png" alt="瞎考">
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.php">主页</a></li>
                            <?php if($role == "teacher" || $role == "manager")
                                echo '<li><a href="../make_exam.php">发布试题</a></li>';?>
                            <li class="active"><a href="#">个人信息</a></li>
                        </ul>
                        <form action="../index.php" method="get">
                            <button type="submit" name="sign_out" value="sign_out"
                                class="btn btn-default navbar-btn navbar-right">Sign Out</button>
                        </form>
                    </div>
                </div>

            </div>
        </div><!-- /.container -->
    </nav>

    <div class="main container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <table class="table table-hover main_info">
                    <tr>
                        <td><?=$data["title"][0]?></td>
                        <td><?=$data["title"][1]?></td>
                        <td><?=$data["title"][2]?></td>
                    </tr>
                    <?php foreach($data["data"] as $v): ?>
                    <tr>
                        <td><?=$v["exam_name"]?></td>
                        <td><?=$v["student_name"]?></td>
                        <td><?=$v["student_grade"]?></td>
                    </tr>
                    <?php endforeach; ?>
                </table>
            </div>
        </div>
    </div>
</body>

</html>