<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>考试</title>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.timeout.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="../css/style.css"> -->
	<link rel="stylesheet" href="../css/test.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- font-awesome -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script>
		$(function () {
			//关闭页面前提示

			//            $(window).on("beforeunload", function () {
			//                return "您尚未交卷！此操作将导致您的回答丢失。";
			//            });
			//            timeOver = false; //保存当前是否已经达到交卷时间
			//倒计时功能
			$(".timeout").timeout({
				//考试时间（页面刷新时，时间会重置。）
				"maxTime": 1800,                                                                                        //此处时间固定为1800,改为根据题库中的时间变化
				//到达时间自动交卷。（如果浏览器禁用JavaScript，此功能不会生效）
				"onTimeOver": function () {
					timeOver = true;
					alert("考试时间结束，系统自动交卷。");
					$("#testForm").submit();//交卷
				}
			});
			//            $("#testForm").submit(function (event) {
			//                $(window).off("beforeunload");      //解除绑定页面关闭事件
			//                timeOver || checkMultiple(event);	//检查多选题是否全部作答
			//            });
			//多选题至少选择一项
			//            function checkMultiple(event) {
			//                $(".jq-multiple .question-each").each(function () {
			//                    if ($(this).find(".question-option input[type=checkbox]:checked").length < 1) {
			//                        $(this).find(".question-option input[type=checkbox]:first").focus();
			//                        event.preventDefault();  //阻止表单提交
			//                        alert('您有多选题未作答。');
			//                        return false;
			//                    }
			//                });
			//            };
		});
	</script>
</head>

<body>
	<!--试卷标题-->
	<div class="container-fluid top">
		<!-- 倒计时 -->
		<div class="top-title">正在考试 (剩余时间 <span class="timeout"></span>)</div>
	</div>
	<div style="height: 52px;"></div>

	<!-- 试卷内容整体 -->
	<div class="main container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="main-wrap">
					<!-- 试卷标题 -->
					<div class="question-title">
						<?=$data['title']?>
					</div>

					<!-- 试卷内容 -->
					<form action="total.php?eaxm_id=<?=$id?>" method="post">
						<!-- 题型导航 -->
						<div class="nav-type">
							<ul class="nav nav-tabs" role="tablist">
								<?php foreach($data["data"] as $k=>$v): ?>
								<li role="presentation" class="<?php if($number[$k] == 1) echo " active"; ?>">
									<a href="#<?=$k?>" aria-controls="home" role="tab" data-toggle="tab">
										<?=$v["name"]?>
									</a>
								</li>
								<?php endforeach; ?>
							</ul>
						</div>

						<!-- 每道大题 -->
						<div class="tab-content">
							<?php foreach($data["data"] as $k=>$v): ?>
							<div role="tabpanel" id="<?=$k?>" class="question-wrap tab-pane in <?php if($number[$k] == 1) echo "
								active"; ?>">
								<!-- 题目描述 -->
								<div class="question-type">
									<?=$number[$k]?>、
									<?=$v["name"]?>
									<span>
										(共
										<?=$count[$k]?>题,
										每题
										<?=$score[$k]?>分)
									</span>
								</div>
								<!-- 每道小题 -->
								<div class="question-each">
									<?php foreach($v['data'] as $kk=>$vv): ?>
									<!-- 题目 -->
									<div class="question-name">
										<?=$kk, '. ', $vv['question']?>
									</div>
									<!-- 选项 -->
									<div class="question-option">
										<?php foreach($vv["option"] as $kkk=>$vvv): ?>
										<!-- 判断多选框还是单选框（多选框需要在name后加上[]） -->
										<label>
											<input value="<?=$kkk?>" 
											type="<?php if($k=='multiple')echo "checkbox"; else echo "radio"; ?>"
											name="<?=$k?>[<?=$kk?>]<?php if($k=="multiple") echo "[]";?>">
											<?=$vvv?>
										</label>
										<?php endforeach; ?>
									</div>
									<?php endforeach; ?>
								</div>
							</div>
							<?php endforeach; ?>
						</div>

						<!-- 提交按钮 -->
						<div class="question-act">
							<input type="submit" name="submit" value="交卷">
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- 页面底部 -->
	<!-- <div style="height: 32px;"></div>
    <div class="footer">
        PHP在线考试系统
    </div> -->
</body>

</html>