<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>考试</title>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.timeout.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="../css/style.css"> -->
	<link rel="stylesheet" href="../css/test.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- font-awesome -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script>
		$(function () {
			//倒计时功能
			var timeSet="<?php echo $data['timeout'];?>";
			$(".timeout").timeout({
				"maxTime": timeSet,                                                                                        //此处时间固定为1800,改为根据题库中的时间变化
				"onTimeOver": function () {
					timeOver = true;
					alert("考试时间结束，系统自动交卷。");
					$("#testForm").submit();//交卷
				}
			});
		});
	</script>
</head>

<body>
	<!--试卷标题-->
	<div class="container-fluid top">
		<!-- 倒计时 -->
		<div class="top-title">正在考试 (剩余时间 <span class="timeout"></span>)</div>
	</div>
	<div style="height: 52px;"></div>

	<!-- 试卷内容整体 -->
	<div class="main container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<!-- 试卷标题 -->
				<div class="question-title">
					<?=$data['title']?>
				</div>

				<!-- 试卷内容 -->
				<form action="total.php?exam_id=<?=$id?>" method="post" id="testForm">
					<!-- 题型导航 -->
					<div class="nav-type">
						<ul class="nav nav-tabs" role="tablist">
							<?php foreach($data["data"] as $k=>$v): ?>
							<li role="presentation" class="<?php if($number[$k] == 1) echo " active"; ?>">
								<a href="#<?=$k?>" aria-controls="home" role="tab" data-toggle="tab">
									<?=$v["name"]?>
								</a>
							</li>
							<?php endforeach; ?>
						</ul>
					</div>

					<!-- 每道大题 -->
					<div class="tab-content">
						<?php foreach($data["data"] as $k=>$v): ?>
						<div role="tabpanel" id="<?=$k?>"
							class="question-wrap tab-pane fade<?php if($number[$k] == 1) echo " in active"; ?>">
							<!-- 题目描述 -->
							<div class="question-type">
								<?=$number[$k]?>、<?=$v["name"]?>
								<span>
									(共
									<?=$count[$k]?>题,
									每题
									<?=$score[$k]?>分)
								</span>
							</div>
							<!-- 每道小题 -->
							<div class="question-each">
								<?php foreach($v['data'] as $kk=>$vv): ?>
								<!-- 题目 -->
								<div class="question-name">
									<?=$kk, '. ', $vv['question']?>
								</div>
								<!-- 选项 -->
								<div class="question-option">
									<?php foreach($vv["option"] as $kkk=>$vvv): ?>
									<!-- 判断多选框还是单选框（多选框需要在name后加上[]） -->
									<label>
										<input value="<?=$kkk?>" type="<?php if($k=='multiple') echo "checkbox"; else echo "radio" ; ?>"
										name="<?=$k?>[<?=$kk?>]<?php if($k=="multiple") echo "[]";?>">
										<?=$vvv?>
									</label>
									<?php endforeach; ?>
								</div>
								<?php endforeach; ?>
							</div>
						</div>
						<?php endforeach; ?>
					</div>

					<!-- 提交按钮 -->
					<div class="question-act">
						<input type="text" name="submited" value="交卷" onclick="submit()">
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>