<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>考试结束</title>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/test.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/total.css">
	<script>
		$(window).on('load',function(){
			$(".right input").prop("checked",true);
			$(".wrong input").prop("checked",true);
		});
	</script>
</head>

<body>
	<div class="container main" style="padding: 30px;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="jumbotron" style="background-color: #4c6d90!important;">
					<h1>考试结束!</h1>
					<p>一共作对了
						<?=$res?>题, <?=$res_fen?>分
					</p>
					<p><a class="btn btn-primary btn-lg" href="../index.php" role="button">返回首页</a></p>
				</div>
			</div>

			<div class="col-md-8 col-md-offset-2">
				<form action="total.php?id=<?=$id?>" method="post">

					<!-- 题型导航 -->
					<div class="nav-type">
						<ul class="nav nav-tabs" role="tablist">
							<?php foreach($right_answer["data"] as $k=>$v): ?>
							<li role="presentation" class="<?php if($number[$k] == 1) echo " active"; ?>">
								<a href="#<?=$k?>" aria-controls="home" role="tab" data-toggle="tab">
									<?=$v["name"]?>
								</a>
							</li>
							<?php endforeach; ?>
						</ul>
					</div>
					<!-- 每道大题 -->
					<div class="tab-content">
						<?php foreach($right_answer["data"] as $k=>$v): ?>
						<div role="tabpanel" id="<?=$k?>" class="question-wrap tab-pane in <?php if($number[$k] == 1) echo "
							active"; ?>">
							<!-- 题目描述 -->
							<div class="question-type">
								<?=$number[$k]?>、
								<?=$v["name"]?>
								<span>
									(共
									<?=$count[$k]?>题,
									每题
									<?=$score[$k]?>分)
								</span>
							</div>
							<!-- 每道小题 -->
							<div class="question-each">
								<?php foreach($v['data'] as $kk=>$vv): ?>
								<!-- 题目 -->
								<div class="question-name">
									<?=$kk, '. ', $vv['question']?>
								</div>
								<!-- 选项 -->
								<div class="question-option">
									<?php foreach($vv["option"] as $kkk=>$vvv): ?>
									<!-- 判断多选框还是单选框（多选框需要在name后加上[]） -->
									<div class="<?=$status[$k][$kk][$kkk]?>">
										<input 
											value="<?=$kkk?>" type="<?php if($k=='multiple')echo "checkbox"; else echo "radio"; ?>"
											name="<?=$k?>[<?=$kk?>]<?php if($k=="multiple") echo "[]";?>" disabled="disabled">
										<?=$vvv?>
									</div>
									<?php endforeach; ?>
								</div>
								<?php endforeach; ?>
							</div>
						</div>
						<?php endforeach; ?>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>

</html>